@charset "utf-8";

/* css*/
* {
	margin: 0%;
	border: 0%;
	padding: 0%;
}

body {

	/* margin: 60px; */
	/* background-color: rgb(240, 240, 240); */
	background-image: url(../imagenes1/naturaleza.jpg);
	background-size: 100%;
}


/* header */
/* **************** */
/* *******************+ */
header img {
	width: 10%;
	margin: 3% 0% 0% 5%;
	border-radius: 40px;
	border: 2px solid white;
}

/* nav */
/* ********************+ */
nav {
	width: 80%;
	margin: -4% 0px 0px 20%;
}

nav ul {
	list-style-type: none;
	/*desaparecn los puntos*/
	display: flex;
	/*fila*/
}

nav>li {
	float: left;
}

.nav li a {
	background-color: transparent;
	color: white;
	text-decoration: none;
	/*desaparecen la rayas*/
	padding: 10px;
	/*ordm*/
	display: block;
	text-align: center;
	width: 100%;
	font-size: 16pt;
	letter-spacing: 2px;

}

.nav li ul {
	display: none;
	/*orden*/
	position: absolute;
	min-width: 140px
}

.nav li ul li {
	position: relative;

}

.nav li ul li a {
	background-color: rgb(102, 83, 46);
	font-family: 'Courier New', Courier, monospace;
	/* font-size: 20px; */
}

.nav li:hover>ul {
	display: block;
	/*los selectores*/
}

.nav li a:hover {
	color: black;
	background-color: gray;
}

/* logo whatsap */
/* **************** */
.whatsapp img {
	background-color: wheat;
	border-radius: 100px;
	float: right;
	width: 8%;
	margin: -60px 80px 0px 0px;
}


/* aside */
/*  */
/*  */
main {
	display: flex;
	border-top: 60px solid rgb(102, 83, 46);
	border-right: 40px solid rgb(235, 227, 193);


}

main aside {
	width: 20%;
	text-align: center;
}

main aside img {
	width: 350px;
	height: 302px;
	padding: auto;
}

/* section */
/*  */
/*  */
main section {
	width: 80%;
	background-color: rgb(102, 83, 46);

}

main section article {
	text-align: justify;
	width: 96%;
	font-size: 18pt;
	/* margin-left:90px ; */
	background-color: rgb(189, 176, 150);
}

main section article h3 {
	text-align: center;
	font-size: 30pt;
}

main section article p {
	width: 90%;
	margin-left: 40px;
	font-size: 14pt;
}

main section article p strong {
	font-size: 24pt;
}

/* sectoin */
/* ******************** */